*{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(65, 85, 111);

}
.owner{
    left: 40px;
}
nav{
    display: flex;
    height: 95px;
}
nav h1{
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 79px;
    margin-top: 23px;
    font-size: 40px;
}
nav ul{
    display: flex;
    height: 50px;
    justify-content: end;
    list-style: none;
    margin-left:41rem;
    font-size: 19px;

}
nav ul li{
    padding: 15px;
    margin-top: 27px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    justify-content: end;
    font-family: 'Roboto', sans-serif;
    
}
.button{
    padding: 14px;
    margin-top: 18px;
    margin-left: 15px;
   
}
.btn{
    color: black;
    border-radius: 20px;
    height: 40px;
    width: 90px;
    border-color: rgb(230, 202, 202);
    background-color: rgba(110, 74, 74, 0.411);
    font-family: 'Roboto', sans-serif;
}
.centre{
    display: flex;
  background-color: #8888c2;
  height: 87vh;
}
img{
    margin-left: 5rem;
    margin-top: 2rem;
}
.first{
    display: flex;
    margin-top: 4rem;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
   
}
.second{
    display: flex;
    margin-top: 2px;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: blue;
}
.para{
    margin-left: 5rem;
    margin-top: 5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.para2{
    margin-left: 5rem;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.btntot{
    display: flex;
   margin-left: 5rem;
   margin-top: 3rem;
}
.button1{
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    background-color: #00000091;
    border: 2px solid black;
}
#btn1{
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
    top: 11px;
    position: relative;

    left: 20px;
  }
.btn2{
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    border-color: rgb(20, 14, 14);
    background-color: #00000091;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.button2{
    margin-left: 20px;
}
.last{
    display: flex;
    margin-top: 5rem;
    margin-left: 5rem;

}
.fu{
    font-family: 'Roboto', sans-serif;
    padding: 10px;

}
.icons ul{
    display: flex;
    
}
.logo{
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 10px;
}